@mixin column-float ($pad: false, $gutter: $grid_gutter) {
  float: left;
  @if ($pad) {
    padding-left: round($gutter/2);
    padding-right: round($gutter/2);
  }
  @include clearfix();
}

* {
  @include box-sizing(border-box);
}

html {
  //height: 100%;
  //min-height: 100%;
}
html, body {
  font-family: $body_font_family;
  font-weight: $body_font_weight;
  font-style: $body_font_style;
  color: $body_color;
  background-color: $body_background_color;
  font-size: 16px;  
}

body {
  min-height: 100%;
  height: 100%;
}

@mixin clearfix() {
  //&:before,
  //&:after {
  //  content: " ";
  //  display: table;
  //}
  &:before,
  &:after {
    content: '\0020';
    display: table;
  }
  &:after {
    clear: both;
  }
  *zoom: 1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.box {
  //padding: 1.2em;
  display: block;
}

.row {
  @include clearfix;
  width: 100%;
}

.small-box {
  padding: 0.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: $body_font_family;
  text-transform: uppercase;
}

.row {
  .column {
    @include column-float;
    &.two {
      width: 50%;
    }

    &.one {
      width: 100%;
    }

    &.three {
      width: 33.33333333333333%;
    }

    &.four {
      width: 25%;
    }

    &.five {
      width: 20%;
    }

    &.six {
      width: 16.66666666666667%;
    }
  }
}
