.button, button {

  border: none;

  cursor: pointer;
  color: $button_default_color;
  background-color: $button_default_background; 
  @include transition(background-color 0.4s ease-out);

  &.small {
  }

  &.tiny {
  }

  padding: 0.5em;

  &.disabled {
    background-color: lighten($button_default_background, 20%); 
  }

  span {
    display: block;
    overflow: hidden;
    text-indent: -1000em;
  }
}

.button-row {
  @extend .row;
  .button {
    float: left;
  }
}
