.icon-add-left { background-image: url('png/add-left.png'); background-repeat: no-repeat; }

.icon-add-right { background-image: url('png/add-right.png'); background-repeat: no-repeat; }

.icon-arrow-down { background-image: url('png/arrow-down.png'); background-repeat: no-repeat; }

.icon-arrow-left { background-image: url('png/arrow-left.png'); background-repeat: no-repeat; }

.icon-arrow-right { background-image: url('png/arrow-right.png'); background-repeat: no-repeat; }

.icon-arrow-up { background-image: url('png/arrow-up.png'); background-repeat: no-repeat; }

.icon-close-loaded { background-image: url('png/close-loaded.png'); background-repeat: no-repeat; }

.icon-close { background-image: url('png/close.png'); background-repeat: no-repeat; }

.icon-delete-loaded { background-image: url('png/delete-loaded.png'); background-repeat: no-repeat; }

.icon-delete { background-image: url('png/delete.png'); background-repeat: no-repeat; }

.icon-doc { background-image: url('png/doc.png'); background-repeat: no-repeat; }

.icon-edit { background-image: url('png/edit.png'); background-repeat: no-repeat; }

.icon-fader { background-image: url('png/fader.png'); background-repeat: no-repeat; }

.icon-gear { background-image: url('png/gear.png'); background-repeat: no-repeat; }

.icon-login-mail { background-image: url('png/login-mail.png'); background-repeat: no-repeat; }

.icon-login-password { background-image: url('png/login-password.png'); background-repeat: no-repeat; }

.icon-menu { background-image: url('png/menu.png'); background-repeat: no-repeat; }

.icon-save { background-image: url('png/save.png'); background-repeat: no-repeat; }

.icon-settings { background-image: url('png/settings.png'); background-repeat: no-repeat; }

.icon-user-2 { background-image: url('png/user-2.png'); background-repeat: no-repeat; }

.icon-user { background-image: url('png/user.png'); background-repeat: no-repeat; }

